*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

*, body, html,
h1, h2, h3, h4, h5,
a, p, ul, a {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	margin: 0;
	--color-text: #a5a5a5;
	--color-bg: #191613;
	--color-link: #d6af7c;
	--color-link-hover: #fff;
	--color-text-circle-1: #48423c;
	--color-text-circle-2: #48423c;
	--color-text-circle-3: #48423c;
	--color-text-circle-4: #48423c;
	--font-circle-1: ivymode, sans-serif;
	--font-weight-circle-1: 300;
	--font-circle-2: modesto-condensed, serif;
	--font-weight-circle-2: 400;
	--font-circle-3: minerva-modern, sans-serif;
	--font-weight-circle-3: 400;
	--font-circle-4: niagara, serif;
	--font-weight-circle-4: 300;
	--color-button: #d6ae7c;
	--color-text-button: #1d1812;
	--dim-button: 90px;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: tenon, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.demo-2 {
	--color-text: #a5a5a5;
	--color-bg: #000000;
	--color-link: #ea34a6;
	--color-link-hover: #fff;
	--color-font-circle: #7b7772;
	--color-button: #ea34a6;
	--color-text-button: #000000;
	--color-text-circle-1: #ea34a6;
	--color-text-circle-2: #422163;
	--color-text-circle-3: #212044;
	--color-text-circle-4: #292725;
	--font-circle-1: niagara, serif;
	--font-weight-circle-1: 300;
	--font-circle-2: ambroise-firmin-std, serif;
	--font-weight-circle-2: 300;
	--font-circle-3: modesto-condensed, serif;
	--font-weight-circle-3: 400;
	--font-circle-4: niagara, serif;
	--font-weight-circle-4: 300;
}

.demo-3 {
	--color-text: #292725;
	--color-bg: #dad4d1;
	--color-link: #a99c90;
	--color-link-hover: #292725;
	--color-font-circle: #7b7772;
	--color-button: #a99c90;
	--color-text-button: #272524;
	--color-text-circle-1: #272524;
	--color-text-circle-2: #272524;
	--color-text-circle-3: #272524;
	--color-text-circle-4: #272524;
	--font-circle-1: modesto-condensed, serif;
	--font-weight-circle-1: 400;
	--font-circle-2: ambroise-firmin-std, serif;
	--font-weight-circle-2: 300;
	--font-circle-3: modesto-condensed, serif;
	--font-weight-circle-3: 400;
	--font-circle-4: niagara, sans-serif;
	--font-weight-circle-4: 300;
}

/* Page Loader */
.js body::before,
.js body::after {
	content: '';
	position: fixed;
	z-index: 1000;
	transition: opacity 0.3s;
	opacity: 0;
	pointer-events: none;
}

.js body::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js body::after {
	content: 'Loading';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	line-height: 1;
	color: var(--color-link);
}

.js .loading::before,
.js .loading::after {
	opacity: 1;
	pointer-events: auto;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	font-weight: 500;
	will-change: transform;
}

.js .frame {
	opacity: 0;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: 500;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin: 0 1rem 0 0;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
}

.enter {
	display: block;
	border: 0;
	width: var(--dim-button);
	height: var(--dim-button);
	position: absolute;
	left: calc(50% - var(--dim-button) / 2 );
	top: calc(50% - var(--dim-button) / 2 );
	font: inherit;
	font-weight: 500;
	cursor: pointer;
	background: none;
	color: var(--color-text-button);
	padding: 0;
}

.enter:focus,
.enter:hover,
.enter:active {
	outline: none;
}

.enter__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #272524;
}

.enter__text {
	position: relative;
	color: #FFF;
}

.js .enter {
	opacity: 0;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	padding: 2rem;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	margin-top: 100px;
}

.js .content {
	opacity: 0;
}

.content p {
	font-size: 2rem;
	font-size: clamp(1.25rem,6vw,2.15rem);
	line-height: 1.25;
	max-width: 900px;
	margin: 0;
	pointer-events: none;
	will-change: transform;
}

.circles {
	pointer-events: none;
	position: fixed;
	 --dim: 186vmin;
	width: var(--dim);
	height: var(--dim);
	top: calc(50% - var(--dim) / 2 );
	left: calc(50% - var(--dim) / 2 );
}

.demo-3 .circles {
	--dim: 206vmin;
}

.circles__text {
	text-transform: uppercase;
	transform-origin: 700px 700px;
	will-change: transform, opacity;
}

.circles__text--1 {
	font-size: 25vmin;
	font-size: clamp(170px,25vmin,180px);
	font-family: var(--font-circle-1);
	font-weight: var(--font-weight-circle-1);
	fill: var(--color-text-circle-1);
}

.circles__text--2 {
	font-size: 17vmin;
	font-size: clamp(136px,17vmin,153px);
	font-family: var(--font-circle-2);
	font-weight: var(--font-weight-circle-2);
	fill: var(--color-text-circle-2);
}

.circles__text--3 {
	font-size: 13.5vmin;
	font-size: clamp(110px,13.5vmin,120px);
	font-family: var(--font-circle-3);
	font-weight: var(--font-weight-circle-3);
	fill: var(--color-text-circle-3);
}

.circles__text--4 {
	font-size: 9.5vmin;
	font-size: clamp(85px,9.5vmin,94px);
	font-family: var(--font-circle-4);
	font-weight: var(--font-weight-circle-4);
	fill: var(--color-text-circle-4);
}

@media screen and (min-width: 53em) {
	.frame {
		position: fixed;
		text-align: left;
		z-index: 100;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2rem;
		pointer-events: none;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title links'
							'... ...'
							'... demos';
	}
	.frame__title {
		margin: 0;
		grid-area: title;
	}
	.frame__menu {
		grid-area: menu;
		justify-self: end;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100vh;
		justify-content: center;
		text-align: left;
	}
}

body {
	background-color: #FFFFFF;
}

.view {
	width: 100%;
    height: 100vh;
    position: relative;
    overflow: auto;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

.view::-webkit-scrollbar {
	display: none;
}

.content {
	background-image: url(../../src/image/background-page.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #F2D154;
	background-size: cover;
	width: 1850px;
    height: 3300px;
	position: relative;
	box-sizing: content-box;
	overflow: hidden;
}

@media screen and (max-width: 480px) {
	.content {
		background-image: url(../../src/image/background-page-mobile.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-color: #F2D154;
		background-size: cover;
		width: 500px;
		height: 892px;
		position: relative;
		box-sizing: content-box;
		overflow: hidden;
	}
}

.hide {
	display: none;
}

.highlight-tv {
	position: absolute;
	bottom: 970px;
    left: 160px;
}

@media screen and (max-width: 480px) {
	.highlight-tv {
		bottom: 247px;
		left: 37px;
	}
}

.highlight-quadro-cg {
	position: absolute;
	top: 0;
    right: 280px;
}

@media screen and (max-width: 480px) {
	.highlight-quadro-cg {
		top: -6px;
		right: 73px;
	}
}

.highlight-quadro-auge {
	position: absolute;
	top: 680px;
    right: 254px;
}

@media screen and (max-width: 480px) {
	.highlight-quadro-auge {
		top: 190px;
		right: 65px;
	}
}

.highlight {
	position: absolute;
    width: 100px;
    height: 100px;
	display: flex;
    align-items: center;
    justify-content: center;
	z-index: 1;
}

.highlight::before {
	content: "";
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    inset: 0 0 0 0;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.highlight::after {
	content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    inset: 0px;
    margin: auto;
    background-color: transparent;
    box-shadow: rgb(255 255 255) 2px 2px 15px;
    animation: 1.85s ease 0s infinite alternate-reverse none running animation-spot;
}

@media screen and (max-width: 480px) {
	.highlight {
		width: 50px;
    	height: 50px;
	}

	.highlight::before {
		width: 8px;
    	height: 8px;
	}

	.highlight::after {
		width: 25px;
    	height: 25px;
	}
}

@keyframes animation-spot {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1.05);
	}
}

.wrapper-person-01 {
	width: 542px;
    height: 836px;
    position: absolute;
	top: 1519px;
    left: 241px;
	z-index: 1;
}

.wrapper-person-01 svg {
	width: 100%;
	height: 100%;
}

.wrapper-person-01 .highlight {
	position: absolute;
    top: 190px;
    left: 415px;
}

@media screen and (max-width: 480px) {
	.wrapper-person-01 {
		width: 138px;
		height: 249px;
		top: 440px;
		left: 83px;
	}

	.wrapper-person-01 .highlight {
		top: 40px;
		left: 98px;
	}
}

#person01 {
	width: 100%;
	height: 100%;
}

#person01 .st0{fill:#614121;}
#person01 .st1{fill:#925D00;}
#person01 .st2{fill:#925E00;}
#person01 .st3{fill:#FFD27E;}
#person01.st4{fill:#EAB96E;}
#person01 .st5{fill:#FFF38A;}
#person01 .st6{fill:#B3922D;}
#person01 .st7{fill:#A5852A;}
#person01 .st8{fill:#E6D67B;}
#person01 .st9{fill:#FCE56A;}
#person01 .st10{fill:#CAAE49;}
#person01 .st11{fill:#FAD734;}
#person01 .st12{fill:#F8D432;}
#person01 .st13{fill:#E3C030;}
#person01 .st14{fill:#61411F;}
#person01 .st15{fill:#FFD17E;}
#person01 .st16{fill:#E9BA6E;}
#person01 .st17{fill:#FFDB80;}
#person01 .st18{fill:#B2912C;}
#person01 .st19{fill:#C9AD4A;}
#person01 .st20{fill:#E8B76D;}
#person01 .st21{fill:#C9AD48;}
#person01 .st22{fill:#FFCD7B;}
#person01 .st23{fill:#FCD57E;}
#person01 .st24{fill:#694823;}
#person01 .st25{fill:#654421;}

#person01 #head {
	animation: animation-head-person-01 1s infinite alternate;
}

@keyframes animation-head-person-01 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-2.65deg);
	}
}

.wrapper-person-02 .highlight {
	position: absolute;
    top: 208px;
    left: 470px;
}

.wrapper-person-02 {
	width: 515px;
    height: 811px;
    position: absolute;
    top: 1570px;
    left: 800px;
	z-index: 1;
}

@media screen and (max-width: 480px) {
	.wrapper-person-02 {
		width: 138px;
		height: 249px;
		top: 469px;
		left: 247px;
	}

	.wrapper-person-02 .highlight {
		top: 13px;
		left: 104px;
	}	
}

#person02 {
	width: 100%;
	height: 100%;
}

#person02 #head {
	animation: animation-head-person-02 1s infinite alternate;
	animation-delay: .35s;
}

#person02 #body {
	opacity: 1;
}

#person02 .st0{fill:#8B5F11;}
#person02 .st1{fill:#5A4124;}
#person02 .st2{fill:#5C4327;}
#person02 .st3{fill:#FCD389;}
#person02 .st4{fill:#F6DA57;}
#person02 .st5{fill:#A1873C;}
#person02 .st6{fill:#F5D957;}
#person02 .st7{fill:#DEC14F;}
#person02 .st8{fill:#FEF192;}
#person02 .st9{fill:#F2D655;}
#person02 .st10{fill:#EEC948;}
#person02 .st11{fill:#AF9441;}
#person02 .st12{fill:#C5AF59;}
#person02 .st13{fill:#E4BE7A;}
#person02 .st14{fill:#FEFEFE;}
#person02 .st15{fill:#493C1F;}
#person02 .st16{fill:#F7E479;}
#person02 .st17{fill:#8D6217;}
#person02 .st18{fill:#FDD48A;}
#person02 .st19{fill:#FCD489;}
#person02 .st20{fill:#FCF195;}
#person02 .st21{fill:#FCDC8D;}
#person02 .st22{fill:#E2BC79;}
#person02 .st23{fill:#F8D087;}
#person02 .st24{fill:#C2B582;}
#person02 .st25{fill:#FCDE7E;}
#person02 .st26{fill:#F1EAAC;}
#person02 .st27{fill:#FCED6F;}
#person02 .st28{fill:#E1CF61;}
#person02 .st29{fill:#FDE677;}

@keyframes animation-head-person-02 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-2.65deg);
	}
}

.wrapper-cartola {
	width: 345px;
    height: 486px;
    position: absolute;
    top: 1329px;
    left: 519px;
    z-index: 0;
}

.wrapper-cartola svg {
	width: 100%;
	height: 100%;
}

.wrapper-cartola svg .cls-1{fill:#5a4127;} .wrapper-cartola svg .cls-2{fill:#8e6518;} .wrapper-cartola svg .cls-3{fill:#aea296;} .wrapper-cartola svg .cls-4{fill:#e9c346;} .wrapper-cartola svg .cls-5{fill:#d6ae3a;} .wrapper-cartola svg .cls-6{fill:#f4dc6f;} .wrapper-cartola svg .cls-7{fill:#fef296;} .wrapper-cartola svg .cls-8{fill:#e5bf44;} .wrapper-cartola svg .cls-9{fill:#efd76b;} .wrapper-cartola svg .cls-10{fill:#fcf196;} .wrapper-cartola svg .cls-11{fill:#fcfcfb;} .wrapper-cartola svg .cls-12{fill:#f8dc59;} .wrapper-cartola svg .cls-13{fill:#e1c249;} .wrapper-cartola svg .cls-14{fill:#fbe878;} .wrapper-cartola svg .cls-15{fill:#f5d958;}

.wrapper-cartola .highlight {
	position: absolute;
    top: -60px;
    right: 32px;
}

@media screen and (max-width: 480px) {
	.wrapper-cartola {
		width: 66px;
		height: 160px;
		top: 390px;
		left: 189px;
	}

	.wrapper-cartola .highlight {
		position: absolute;
		top: 20px;
		right: -25px;
	}
}


.wrapper-dog {
	width: 345px;
    height: 300px;
    position: absolute;
    top: 1153px;
    left: 1258px;
}

.wrapper-dog svg {
	width: 100%;
	height: 100%;
}

.wrapper-dog svg .cls-1{fill:#865a0d;} .wrapper-dog svg .cls-2{fill:#8f6519;} .wrapper-dog svg .cls-3{fill:#f2d960;} .wrapper-dog svg .cls-4{fill:#dbbb46;} .wrapper-dog svg .cls-5{fill:#f8e067;} .wrapper-dog svg .cls-6{fill:#e0c75f;} .wrapper-dog svg .cls-7{fill:#caa73a;} .wrapper-dog svg .cls-8{fill:#eed45c;} .wrapper-dog svg .cls-9{fill:#fae880;} .wrapper-dog svg .cls-10{fill:#fbee93;} .wrapper-dog svg .cls-11{fill:#e4c858;} .wrapper-dog svg .cls-12{fill:#dfc14c;} .wrapper-dog svg .cls-13{fill:#eacf59;} .wrapper-dog svg .cls-14{fill:#fbf5cd;} .wrapper-dog svg .cls-15{fill:#edd76d;}

.wrapper-dog .highlight {
	position: absolute;
	top: -60px;
    left: 300px;

	display: none;
}

@media screen and (max-width: 480px) {
	.wrapper-dog {
		width: 100px;
		height: 86px;
		top: 343px;
		left: 362px;
	}

	.wrapper-dog .highlight {
		top: 15px;
		left: 71px;
	}
}

#dog {
	width: 100%;
	height: 100%;
}


.wrapper-vitrola {
	width: 203px;
    height: 144px;
    position: absolute;
    top: 1544px;
    left: 163px;
	z-index: 1;
}

.wrapper-vitrola svg {
	width: 100%;
	height: 100%;
}

.wrapper-vitrola svg .cls-1{fill:#86590d;} .wrapper-vitrola svg .cls-2{fill:#8d6215;} .wrapper-vitrola svg .cls-3{fill:#fcf5be;} .wrapper-vitrola svg .cls-4{fill:#f6da58;} .wrapper-vitrola svg .cls-5{fill:#e0c149;} .wrapper-vitrola svg .cls-6{fill:#f7db58;} .wrapper-vitrola svg .cls-7{fill:#dfc048;} .wrapper-vitrola svg .cls-8{fill:#fcec84;} .wrapper-vitrola svg .cls-9{fill:#f8e57c;} .wrapper-vitrola svg .cls-10{fill:#fdf5b5;} .wrapper-vitrola svg .cls-11{fill:#d9b944;} .wrapper-vitrola svg .cls-12{fill:#926815;} .wrapper-vitrola svg .cls-13{fill:#a2791f;} .wrapper-vitrola svg .cls-14{fill:#b6912d;}

.wrapper-vitrola .highlight {
	position: absolute;
    top: -85px;
    left: 61px;
}

@media screen and (max-width: 480px) {
	.wrapper-vitrola {
		width: 55px;
		height: 40px;
		top: 454px;
		left: 54px;
	}

	.wrapper-vitrola .highlight {
		top: -39px;
    	left: -1px;
	}
}

#vitrola {
	width: 100%;
	height: 100%;
}

.wrapper-money {
	width: 331px;
    height: 337px;
    position: absolute;
	top: 1724px;
    right: 10px;
}

.wrapper-money svg {
	width: 100%;
	height: 100%;
}

.wrapper-money svg  .cls-1{fill:#86590d;} .wrapper-money svg .cls-2{fill:#fbfaf8;} .wrapper-money svg .cls-3{fill:#8d6214;} .wrapper-money svg .cls-4{fill:#e0c149;} .wrapper-money svg .cls-5{fill:#f7db58;} .wrapper-money svg .cls-6{fill:#fcec89;} .wrapper-money svg .cls-7{fill:#f6da58;} .wrapper-money svg .cls-8{fill:#f9f5dd;} .wrapper-money svg .cls-9{fill:#f6d957;} .wrapper-money svg .cls-10{fill:#fced89;} .wrapper-money svg .cls-11{fill:#f4d856;} .wrapper-money svg .cls-12{fill:#f8dc59;} .wrapper-money svg .cls-13{fill:#dfc049;} .wrapper-money svg .cls-14{fill:#e2c34a;} .wrapper-money svg .cls-15{fill:#b38d2a;}

.wrapper-money .highlight {
	position: absolute;
    top: -70px;
    left: 136px;

	display: none;
}

@media screen and (max-width: 480px) {
	.wrapper-money {
		width: 100px;
		height: 100px;
		top: 507px;
		right: 0;
	}

	.wrapper-money .highlight {
		top: -35px;
		left: 30px;
	}
}

#money {
	width: 100%;
	height: 100%;
}

.wrapper-estatua {
	width: 372px;
    height: 439px;
    position: absolute;
	top: 2071px;
    right: 124px;
}

.wrapper-estatua svg {
	width: 100%;
	height: 100%;
}

.wrapper-estatua svg .cls-1{fill:#86590c;} .wrapper-estatua svg .cls-2{fill:#ccba9a;} .wrapper-estatua svg .cls-3{fill:#8c6113;} .wrapper-estatua svg .cls-4{fill:#c9a739;} .wrapper-estatua svg .cls-5{fill:#ecce50;} .wrapper-estatua svg .cls-6{fill:#e8ca4e;} .wrapper-estatua svg .cls-7{fill:#eed667;} .wrapper-estatua svg .cls-8{fill:#fdf196;} .wrapper-estatua svg .cls-9{fill:#efd253;} .wrapper-estatua svg .cls-10{fill:#f3d758;} .wrapper-estatua svg .cls-11{fill:#f9e471;} .wrapper-estatua svg .cls-12{fill:#d2b140;} .wrapper-estatua svg .cls-13{fill:#f8e067;} .wrapper-estatua svg .cls-14{fill:#dfc357;} .wrapper-estatua svg .cls-15{fill:#d9bc4e;} .wrapper-estatua svg .cls-16{fill:#fae77b;} .wrapper-estatua svg .cls-17{fill:#f5db5f;} .wrapper-estatua svg .cls-18{fill:#fefefd;}

.wrapper-estatua .highlight {
	position: absolute;
    top: calc(-27px -100px);
    left: 158px;

	display: none;
}

@media screen and (max-width: 480px) {
	.wrapper-estatua {
		width: 83px;
		height: 115px;
		top: 635px;
		right: 72px;
	}

	.wrapper-estatua .highlight {
		top: -12px;
		left: 40px;
	}
}

.wrapper-estatua svg {
	width: 100%;
	height: 100%;
}

.wrapper-cinzeiro {
	width: 120px;
    height: 120px;
    position: absolute;
    top: 2424px;
    right: 915px;
}

.wrapper-cinzeiro svg {
	width: 100%;
	height: 100%;
}

.wrapper-cinzeiro svg .cls-1{fill:#86590d;}.cls-2{fill:#e3d8c7;}.cls-3{fill:#8d6114;}.cls-4{fill:#f7db58;}.cls-5{fill:#dfc048;}.cls-6{fill:#f5d857;}.cls-7{fill:#f3d655;}.cls-8{fill:#fae677;}.cls-9{fill:#f6e88d;}.cls-10{fill:#fef397;}.cls-11{fill:#f4e072;}.cls-12{fill:#faf7e8;}.cls-13{fill:#e4dac9;}.cls-14{fill:#fbe878;}.cls-15{fill:#916615;}.cls-16{fill:#faf9f7;}

.wrapper-cinzeiro .highlight {
	position: absolute;
    top: calc(125px -100px);
    left: 50px;

	display: none;
}

@media screen and (max-width: 480px) {
	.wrapper-cinzeiro {
		width: 32px;
		height: 30px;
		top: 716px;
		right: 269px;
	}
	
	.wrapper-cinzeiro .highlight {
		top: -14px;
    	left: 20px;
	}
}

#cinzeiro {
	width: 100%;
	height: 100%;
}

.wrapper-caixinha {
	width: 144px;
    height: 149px;
    position: absolute;
    top: 2263px;
    right: 1120px;
}

.wrapper-caixinha .highlight {
	position: absolute;
    left: -50px;
    top: 60px;
}

@media screen and (max-width: 480px) {
	.wrapper-caixinha {
		width: 24px;
		height: 52px;
		top: 656px;
		right: 338px;
	}
	
	.wrapper-caixinha .highlight {
		position: absolute;
		left: -40px;
		top: -13px;
	}
}

.wrapper-caixinha svg {
	width: 100%;
	height: 100%;
}

.wrapper-controle {
	width: 137px;
    height: 117px;
    position: absolute;
    top: 2324px;
    right: 995px;
}

.wrapper-controle .highlight {
	position: absolute;
    bottom: -37px;
    left: -30px;
}

@media screen and (max-width: 480px) {
	.wrapper-controle {
		width: 43px;
		height: 42px;
		top: 681px;
		right: 289px;
	}
	
	.wrapper-controle .highlight {
		bottom: -21px;
		left: -25px;
	}
}

.wrapper-controle svg {
	width: 100%;
	height: 100%;
}

.wrapper-manequim {
	width: 200px;
    height: 500px;
    position: absolute;
    top: 402px;
    left: 83px;
}

.wrapper-manequim .highlight {
	position: absolute;
    top: -47px;
    right: -20px;
}

@media screen and (max-width: 480px) {
	.wrapper-manequim {
		width: 100px;
		height: 120px;
		top: 140px;
		left: 0px;
	}	

	.wrapper-manequim .highlight {
		top: -30px;
    	right: 4px;
	}
}

.wrapper-manequim svg {
	width: 100%;
	height: 100%;
}

.wrapper-disco {
	width: 127px;
    height: 275px;
    position: absolute;
    top: 10px;
    left: 510px;
}

.wrapper-disco .highlight {
	position: absolute;
    top: -10px;
    right: -85px;
}

.wrapper-disco svg {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 480px) {
	.wrapper-disco {
		width: 43px;
		height: 73px;
		top: 24px;
		left: 151px;
	}
	
	.wrapper-disco .highlight {
		top: -25px;
    	right: -36px;
	}
}

.wrapper-roupas {
	width: 659px;
    height: 639px;
    position: absolute;
	bottom: -36px;
    right: 40px;
}

.wrapper-roupas .highlight {
	position: absolute;
    bottom: 230px;
    right: 515px;
}

@media screen and (max-width: 480px) {
	.wrapper-roupas {
		width: 250px;
		height: 185px;
		bottom: -41px;
		right: -19px;
	}
	
	.wrapper-roupas .highlight {
		top: 78px;
		left: 32px;
	}
}

.wrapper-roupas::after {
	content: '';
	width: 100%;
	height: 100%;
	background-image: url(../image/roupas.png);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 30px;
}

.row {
	display: flex;
}

.header-main {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    z-index: 99999;
    padding-top: 18px;
}

.header-main::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 13px;
	background-color: #373633;
}

.header-main .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.header-main .container-image {
	width: 120px;
    height: auto;
}

.header-main .container-image .image {
	width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-main .navigation .wrapper-links {
	display: flex;
    list-style: none;
}

.header-main .navigation .wrapper-links .container-link + .container-link {
	margin-left: 1.5em;
}

.header-main .navigation .wrapper-links .container-link .link {
	font-size: 24px;
	position: relative;
	display: block;
}

.header-main .navigation .wrapper-links .container-link .link:hover:after {
	width: 100%;
}

.header-main .navigation .wrapper-links .container-link .link:after {
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 1px;
    background-color: #000000;
	transition: .35s width;
}

.main-page .section-01 {
	background-color: #EFEFEF;
	width: 100%;
}

.main-page .section-01 .block-album-spotify {
	background-color: #CBB663;
	width: 100%;
	margin-top: -150px;
	position: relative;
	z-index: 1;
	padding: 65px 0 50px;
}

.main-page .section-01 .block-album-spotify::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 13px;
	background-color: #000000;
	z-index: 99999999;
}

.main-page .section-01 .block-album-spotify .col-01 .wrapper-album-spotify {
	width: 350px;
    height: auto;
}

.main-page .section-01 .block-album-spotify .col-01 .wrapper-album-spotify .image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.main-page .section-01 .block-album-spotify .row {
	align-items: center;
	justify-content: center;
}

.main-page .section-01 .block-album-spotify .row .col + .col {
	margin-left: 4em;
}

.main-page .section-01 .block-album-spotify .col-02 {
	width: 100%;
	max-width: 26em;
}

.main-page .section-01 .block-album-spotify .box-content .header {
	margin-bottom: 12px;
}

.main-page .section-01 .block-album-spotify .box-content .header .container-image {
	width: 180px;
	height: auto;
}

.main-page .section-01 .block-album-spotify .box-content .header .container-image .image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.main-page .section-01 .block-album-spotify .box-content .main .text {
	font-size: 24px;
	color: #FFFFFF;
}

.main-page .section-01 .block-album-spotify .box-content .footer {
	margin-top: 25px;
}

.main-page .section-01 .block-album-spotify .box-content .footer .btn {
	background-color: #000000;
	border: 0;
	outline: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 18px 15px;
	cursor: pointer;
}

.main-page .section-01 .block-album-spotify .box-content .footer .btn:hover .icon-arrow-right {
	transform: translateX(8px);
}

.main-page .section-01 .block-album-spotify .box-content .footer .btn .text {
	color: #FFFFFF;
	font-size: 20px;
	margin-right: 15px;
}

.main-page .section-01 .block-album-spotify .box-content .footer .btn .icon-arrow-right {
	display: block;
	width: 32px;
	height: 20px;
	background-image: url(../image/icon-arrow-white.svg);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	transition: .35s transform;
}